1. Specify username and password and some constant information first

In [21]:
HOST_STAGING = "sc-hackathon-s.urbanpulse.de"
HOST_PRODUCTION = "sc-hackathon.urbanpulse.de"
PORT_HISTORIC_DATA = 42000

urban_pulse_user = '<specify>'
urban_pulse_password = '<specify too>'
urban_pulse_host = HOST_STAGING
urban_pulse_url = 'https://'+HOST_STAGING+'/UrbanPulseManagement/api/'

print('Will connect to ' + urban_pulse_url + ' as ' + urban_pulse_user)

Will connect to https://sc-hackathon-s.urbanpulse.de/api/ as <specify>

Lets get some historical data:

In [44]:
import requests
import json
import pandas as pd

def fetch(sid, since, until):
    pathTemplate = "https://{0}:{1}/UrbanPulseData/historic/sensordata?since={2}&until={3}&sid={4}"
    url = pathTemplate.format(urban_pulse_host, PORT_HISTORIC_DATA, since,until,sid)
    print(url)
    response = requests.get(url, auth=(urban_pulse_user,urban_pulse_password), stream=True)
    data = response.json()
    return data

def get_data():
    # A list of all sensors can be obtained from https://<HOST>/UrbanPulseManagement/api/sensors with credentials 
    sid = "846e9b95-a9b4-4d5f-b549-f6e211b9c3ba"
    since = "2018-03-26T11:18:00.000Z"
    until = "2018-03-26T11:22:00.000Z"

    data = fetch(sid, since, until)
    
    
    json_array = data['sensordata']
    for event in json_array[:10]:
        print("Received: " + json.dumps(event)[:100])
    return json_array

pd.set_option('max_colwidth', 800)
data =  get_data()
df = pd.DataFrame(data)
df.head(3)

https://sc-hackathon-s.urbanpulse.de:42000/UrbanPulseData/historic/sensordata?since=2018-03-26T11:18:00.000Z&until=2018-03-26T11:22:00.000Z&sid=846e9b95-a9b4-4d5f-b549-f6e211b9c3ba
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "G", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "A", "S24": "", "S01": "R", "S23": "", "S04":
Received: {"D49-64": 0, "S20": "", "S22": "", "S21": "", "S02": "A", "S24": "", "S01": "R", "S23": "", "S04":

,Bezeichnung,D01-16,D17-32,D33-48,D49-64,Datum,Programm,S01,S02,S03,...,S31,S32,SID,Status,Uhrzeit,Uhrzeit ms,Umlaufsekunde,eventType,statementName,timestamp
0,A200,0,0,0,0,26.03.2018,12,R,G,R,...,,,846e9b95-a9b4-4d5f-b549-f6e211b9c3ba,0,13:17:58,811,730,SwarcoTMSEventType,ConnectedSignals_hackathon,2018-03-26T11:18:00.193Z
1,A200,0,0,0,0,26.03.2018,12,R,G,R,...,,,846e9b95-a9b4-4d5f-b549-f6e211b9c3ba,0,13:17:59,812,740,SwarcoTMSEventType,ConnectedSignals_hackathon,2018-03-26T11:18:01.213Z
2,A200,0,0,0,0,26.03.2018,12,R,G,R,...,,,846e9b95-a9b4-4d5f-b549-f6e211b9c3ba,0,13:18:00,812,750,SwarcoTMSEventType,ConnectedSignals_hackathon,2018-03-26T11:18:02.162Z

In [40]:
#!pip install WazeRouteCalculator
import WazeRouteCalculator

from_address = 'Köln, Germany'
to_address = 'Bad Hersfeld, Germany'
region = 'EU'
route = WazeRouteCalculator.WazeRouteCalculator(from_address, to_address, region)
route.calc_route_info(real_time=False)

From: Köln, Germany - to: Bad Hersfeld, Germany
Time 161.15 minutes, distance 251.59 km.

(161.15, 251.59)

In [54]:
import json
import pandas as pd
import requests
from pandas.io.json import json_normalize

pd.set_option('max_colwidth', 800)

response = requests.get(urban_pulse_url+ 'eventtypes', auth=(urban_pulse_user,urban_pulse_password), stream=True)

df = pd.DataFrame(response.json()['eventtypes']);
df.head(3).style

In [25]:
response = requests.get(urban_pulse_url +'sensors', auth=(urban_pulse_user,urban_pulse_password), stream=True)
df = pd.DataFrame(response.json()['sensors']);
df.head(3)

,categories,description,eventtype,id,location,senderid
0,[b537e6ab-ae6f-4b64-b9e6-4ed189a27665],{'reference': {'Bezeichnung': 'A 99'}},6f7d208c-6258-421c-968d-49b39495465f,138,{'type': 'undefined'},3825d55c-61fd-4924-b9e0-c49bd35aab97
1,[f8deb6ed-0ae4-4af2-8c18-3ba16e56a7c3],{'reference': {'originSID': '138'}},74b65db1-df5f-45d5-9e71-97a7c68666ba,138AN,{'type': 'undefined'},3825d55c-61fd-4924-b9e0-c49bd35aab97
2,[b537e6ab-ae6f-4b64-b9e6-4ed189a27665],{'reference': {'Bezeichnung': 'A 7'}},6f7d208c-6258-421c-968d-49b39495465f,141,{'type': 'undefined'},3825d55c-61fd-4924-b9e0-c49bd35aab97